<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Menu - Yay!Koffee Website Template</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">   
</head>
<body>
    <div id="page">
        <div>
        <div id="header">
            <a href="{{ url_for('index') }}"><img src="../static/images/logo.png" alt="Image"></a>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="current">
                    <a href="{{ url_for('menu') }}">Menu</a>
                </li>
                <li>
                    <a href="{{ url_for('about') }}">About Us</a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}">Login</a> 
                </li>
            </ul>
        </div>
        <div id="body">
            <div id="figure">
                <img src="../static/images/headline-menu.jpg" alt="Image">
                <span>Indulge in the perfect cup.</span> 
            </div>
            <div>
                <a href="menu.html" class="whatshot">What's Hot</a> 
                <div>
                    <ul>
                        <li>
                            <a href="index.html"><img src="../static/images/coffee1.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Cappuccino</a> 
                                <p>
                                    Espresso, steamed milk, foam. $4.50
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="index.html"><img src="../static/images/coffee2.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Latte</a> 
                                <p>
                                    Espresso, steamed milk. $4.00
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="../static/index.html"><img src="../static/images/coffee3.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Americano</a> 
                                <p>
                                    Espresso, hot water. $3.50
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="index.html"><img src="../static/images/coffee4.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Espresso</a> 
                                <p>
                                    Bold & flavorful. $3.00
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="index.html"><img src="../static/images/coffee5.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Flat White</a> 
                                <p>
                                    Espresso, velvety microfoam. $4.25
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="index.html"><img src="../static/images/coffee6.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Mocha</a> 
                                <p>
                                    Espresso, chocolate, steamed milk. $5.00
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="index.html"><img src="../static/images/coffee3.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Cold Brew</a> 
                                <p>
                                    Smooth & refreshing. $4.75
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="index.html"><img src="../static/images/coffee2.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Iced Latte</a>
                                <p>
                                    Chilled latte over ice. $4.50
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="index.html"><img src="../static/images/coffee1.jpg" alt="Image"></a>
                            <div>
                                <a href="index.html">Frappé</a>
                                <p>
                                    Blended coffee delight. $5.50
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer">
            <div>
                <a href="index.html"><img src="../static/images/logo2.png" alt="Image"></a>
                <p class="footnote">
                    &copy; Yay!Koffee 2011. <br> All Rights Reserved.
                </p>
            </div>
            <div class="section">
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('menu') }}">Menu</a>
                    </li>
                
                    <li>
                        <a href="{{ url_for('about') }}">About Us</a>
                    </li>
                </ul>
                <div id="connect">
                    <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
                    <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
                    <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google+</a>
                    <a href="index.html" id="rss">RSS</a>
                </div>
                <p>
                    This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
                </p>
            </div>
        </div>
        </div>
    </div>
</body>
</html>

